$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

canvas {
  height: auto;
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

.section-main {
    background-color: #39a9e0;
    color: #ffffff;
}

.main-header {
    font-size: 8em;
}

.main-sub-header {
    font-size: 2em;
}

.par-text {
    font-size: 18px;
}

/* Footer Styles */
footer {
    margin: 50px 0;
    color: #999999;
}

.footer-item {
    margin-top: 4%;
}

.footer-logo {
    margin-top: 2.5%;
}

flot-canvas {
    display: block;
}

.pos_left {
    float: left;
    width: 50%;
    height:200px;
}
.pos_right {
    float: right;
    width: 50%;
    height:200px;
}

.pos_all {
    float: right;
    width: 100%;
    height:200px;
}

.science-img {
    width: 100%;
    max-width: 300px;
    height:auto;
}

.blog-img {
    width: 100%;
    max-width: 250px;
    height:auto;
}

.codebox {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
    background-color:#FFFFF;
    width:100%;
    overflow:auto;
    padding:10px;
}
.codebox code {
    /* Styles in here affect the text of the codebox */
    font-size:0.9em;
    color:#000000;
    /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
}

/* Responsive Styles */
@media (max-width: 1280px) {

}
