<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Florian Markert
                <small>Dr.-Ing.</small>
            </h1>
      <ol class="breadcrumb">
        <li><a href="../index.html">Home</a>
        </li>
        <li class="active">About</li>
      </ol>
    </div>

  </div>

  <div class="row">

    <!--<div class="col-md-6">
        <img class="img-responsive" src="http://placehold.it/750x450">
    </div>-->
    <div class="col-lg-12">
      <h2>About Me</h2>

      <p>
        I studied electrical engineering and information technology at <a href="http://www.tu-darmstadt.de/">Technische Universität Darmstadt</a>. Afterwards, I worked some time as an embedded software developer for the fiber-optics communications industry. I went back to university as an associate researcher and lecturer and wrote a <a href="http://tuprints.ulb.tu-darmstadt.de/2999/">Ph.D. thesis</a> on formal requriements analysis and testing of software product lines. During that time, I also worked as a freelance consultant for web based vending machine development and respective payment solutions. Receiving my Ph.D., I returned to the fiber-optics industry until I quit and switched to the precision measurement industry.
      </p>

      <p>
        My programming experience ranges from FPGA-Design in VHDL over programs and drivers in C/C++/Java/LUA to web applications in JS. System and software architecture and design for embedded systems is something I consider myself to be really good at. I enjoy learning new things and cannot imagine that I will ever stop doing that.
      </p>

    </div>

  </div>