<div class="section section-main">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h1 class="main-header">scienceflow</h1>
        <h2 class="main-sub-header">
                    your daily dose of science
                </h2>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section -->
<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a title="By Andrews, William [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3ADomesday-book-1804x972.jpg">
          <img class="img-responsive img-home-portfolio" alt="Domesday-book-1804x972" src="images/book.png" />
        </a>
      </div>
      <div class="col-lg-6 col-md-6">
        <h3>Knowledge</h3>
        <p class="par-text">
          The fundament of science is background knowledge. This site intends to spread knowledge of selected topics. Science should be free and not be restricted by copyright or patent law to provide the best benefit for the whole society. I will post things that I am working on or that I did in the past on a regular basis. Feel free to gain knowledge and use it - for free.
        </p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h3>Examples</h3>
        <p class="par-text">
          The best way to understand things, is to try how they react. I will provide examples to play around with. Due to the nature of this website, examples will be written in JS. In favor of science, they will be put under MIT license. What is right for science cannot be wrong for code.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a title="By Andy Dingley (scanner) [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3ATransmission_of_motion_by_compund_gear_train_(Army_Service_Corps_Training%2C_Mechanical_Transport%2C_1911).jpg">
          <img class="img-responsive img-home-portfolio" src="images/transmission.png" />
        </a>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <img class="img-responsive img-home-portfolio" src="images/factory.png">
      </div>
      <div class="col-lg-6 col-md-6">
        <h3>Industry 4.0</h3>
        <p class="par-text">
          The knowledge and examples provided have a strong relation to the industrial world. Industry 4.0 will bring web interfaces and controls to various devices. This will have a big impact on how to operate and manage machinery and industrial facilities. I guess that JS will gain importance in this area over the next years. Most algorithms used in the industry are not available for JS or the performance is weak. This website will provide algorithms and the knowledge for web developers to implement them.
        </p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section -->