<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">Science
                <small>Projects</small>
            </h1>
      <ol class="breadcrumb">
        <li><a href="../index.html">scienceflow</a>
        </li>
        <li class="active">Science</li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-md-1">
      <p>Jan 20, 2015</p>
    </div>
    <div class="col-md-5">
      <a href="#/science_gps">
        <img class="science-img img-responsive img-home-portfolio" src="images/earth.png" class="img-responsive center-block">
      </a>
    </div>
    <div class="col-md-6">
      <h3><a href="#/science_gps">GPS Maths</a>
            </h3>
      <p class="par-text">
        Plotting 2D and 3D with high update rate is a pain in the browser. Learn, what you can do about it when it comes to rendering. Get in touch with webgl and learn how simple it is to efficiently use it for plotting.
      </p>
      <a class="btn btn-primary" href="#/science_gps">Read More</a>
    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-1">
      <p>Jan 18, 2015</p>
    </div>
    <div class="col-md-5">
      <a href="#/science_graphics">
        <img class="science-img img-responsive img-home-portfolio" src="images/webglplot.png" class="img-responsive center-block">
      </a>
    </div>
    <div class="col-md-6">
      <h3><a href="#/science_graphics">Fast Plotting</a>
            </h3>
      <p class="par-text">
        Plotting 2D and 3D with high update rate is a pain in the browser. Learn, what you can do about it when it comes to rendering. Get in touch with webgl and learn how simple it is to efficiently use it for plotting.
      </p>
      <a class="btn btn-primary" href="#/science_graphics">Read More</a>
    </div>

  </div>
  <br>
  <div class="row">

    <div class="col-md-1">
      <p>Jan 11, 2015</p>
    </div>
    <div class="col-md-5">
      <a href="#/science_filters">
        <img class="science-img img-responsive img-home-portfolio" src="images/fir.png" class="img-responsive center-block">
      </a>
    </div>
    <div class="col-md-6">
      <h3><a href="#/science_filters">Digital Filters</a>
            </h3>

      <p class="par-text">
        See, how digital filters work. Learn what magnitude, phase and group delay tell you. What are poles and zeros and why do we need to place them. How to calculate coefficients for IIR and FIR filters.
      </p>
      <a class="btn btn-primary" href="#/science_filters">Read More</a>
    </div>

  </div>

  <hr>

</div>
<!-- /.container -->