<footer>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 pull-left">
          <div class="footer-item pull-left">
            <p class="footer">
              ©2015 Florian Markert
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 pull-right">
          <div class="footer-logo pull-right">
            <a href="https://github.com/markert"><img src="images/GitHub-Mark-Light-32px.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

</footer>